
.content-container {
  margin-left: 10%;
  margin-right: 10%;

  margin-top: 5%;
  margin-bottom: 5%;

  padding: 20px;
  background-color: #eeeeee;
  border-radius: 20px;
}

.video-feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 35px;
  grid-column-gap: 20px;
}

.video-feed-card-container {

}

.video-card {
  width: 100%;
  box-shadow: 0px 0px 10px #dddddd;
}

.video-card-img {
  /* clip-path: inset(30px 0px 30px 0px);
  margin-bottom: -30px;
  margin-top: -30px; */
}

.video-card-duration {
  position: absolute;
  color: white;
  background-color: #000000cc;
  border-radius: 7px;
  right: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.video-card-title {

}

.video-card-info {
  color: #777777;
}

.video-feed-spinner {
  display: flex;
  justify-content: center;

  /* The video feed uses a grid, so we want to our spinner to span
  across ALL rows of the grid so we can center it. */
  grid-column: 1 / -1;
}

.video-details-title {
  margin-bottom: 20px;
}

.video-details-card {
  margin-top: 20px;
}

.chip-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.chip {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #dddddd;
  border-radius: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

.youtube-player {
  padding: 20px;
}

.sources-key-point {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 15px;
  padding-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.missing-soundtrack {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}